    /*********/
    /* LINKS */
    /*********/

    /* @property kan helaas wel performance problemen opleveren :-( */
    /* bram van damme: wwww.bram.us/2023/02/01/the-gotcha-with-property/ */
    /* keyframe rotation: https://codepen.io/shooft/pen/WNgrabB?editors=1100 */
    



    /********************/
    /* ALGEMENE STIJLEN */
    /********************/
    :root {
    --color-main:#1B1B63;
    --color-vuurpijl: #0dff00;
    --explosie-color-1: #8BE2F2;
    --explosie-color-2: #BA9BFA;
    --explosie-color-3: #8BFB93;
    --explosie-color-4: #FBEB7B;
    }
    
    body {
        min-height:100vh;
        margin:0;
        background-color: var(--color-main);
        display:grid;
        place-content:center;
    }


    label {
            position:absolute;
            top:1em;
    }





    /*****************/
    /* checkbox styling */
    /*****************/
    /* The container */
    .container {
        display: block;
        position: relative;
        padding: 4em;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        right: 50vw;
        height: 50px;
        width: 50px;
        background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    /* checkbox styling gevonden op https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

        
        
    /*****************/
    /* pijl animatie */
    /*****************/
    /* div
    {
        border-radius: 50px;
        background-color: var(--color-vuurpijl);
        position: absolute;
        bottom: 0;
        left: 50vw;
        width: 10px;
        height: 70px;
        overflow: hidden;
        opacity: 0;
        box-shadow: 0px 9px 0.4em var(--color-vuurpijl);
    }  */

    .wavy
    {
        position: absolute;
        width: 10px;
        height: 70px;
        bottom: 0;
        left: 50vw;
        opacity: 0;  
    }

    .wavy::before
    {
        content: 'aaaaaaaaa';
        font-size: 2em;
        color: transparent;
        text-decoration-style: wavy;
        text-decoration-color: var(--color-vuurpijl);
        text-decoration-line: underline;
    }


    /* net als in premiere pro */
    /* @keyframes vuurpijl {
        0% {
            transform: translateX(-1px);
        }
        100% {
            transform: translateX(-42px);
        }
    } */

    @keyframes vuurpijl {
        0% {
            /* transform: rotate(-90deg); */
            transform: translate(0,0%) rotate(-90deg);
            opacity: 1;
        }
        100% {
            /* transform: rotate(-90deg); */
            transform: translate(0,-35vh) rotate(-90deg);
            opacity: 1;
        }
    } 

    body:has(:checked) .wavy {
        animation-play-state:vuurpijl;

    /* 	dit geeft de rotate animatie aan */
        animation:vuurpijl;
    /* 	tijd van de druratie */
        animation-duration:200ms;
    /* 	de animatie is overal dezelfde snelheid */
        animation-timing-function:ease-in;
    /*  dit laat de animatie starten na 700ms */
        animation-delay:0s;
    }




    /*****************/
    /* THE CONTAINER */
    /*****************/
    ul {
        --length:6;
        
        position:relative;
        
        margin:0;
        padding:0 1em;
        list-style:none;
        
        display:flex;
        justify-content:center;
        align-items:center;
        
        font-size:3em;
    }


    /*********************/
    /* explosie animatie */
    /*********************/
    li:nth-of-type(1) {--index:0;}
    li:nth-of-type(2) {--index:1;}
    li:nth-of-type(3) {--index:2;}
    li:nth-of-type(4) {--index:3;}
    li:nth-of-type(5) {--index:4;}
    li:nth-of-type(6) {--index:5;}

    
    @keyframes rotate {
        0% {
            /* --hue:calc(0 + 360 / var(--length) * var(--index) ); */
            transform:
            rotate( calc(0deg + 360deg / var(--length) * var(--index) ) );
            opacity: 1;
        }
        75% {
            opacity:1;
        }
        100% {
            /* --hue:calc(270 + 270 / var(--length) * var(--index) ); */
    
            transform:
                rotate( calc(1080deg + 360deg / var(--length) * var(--index) ) )
                translateY(-500%);
                
                opacity:1;
        }
    }
    
    body:has(:checked) li {
        animation-name:rotate;
        animation-duration:1s;
        animation-timing-function:linear;
        animation-delay: 200ms;
    }
    
    li {
        position:absolute;
        width:.5em;
        aspect-ratio:1;
        border-radius:50%;
        opacity: 0;
    }

    p:nth-of-type(1) { 
        --index:0;
        background-color: var(--explosie-color-1);
    }

    li:nth-of-type(2) { 
        --index:1;
        background-color: var(--explosie-color-2);
    }

    li:nth-of-type(3) { 
        --index:2;
        background-color: var(--explosie-color-3);
    }

    li:nth-of-type(4) { 
        --index:3;
        background-color: var(--explosie-color-4);
    }

    li:nth-of-type(5) { 
        --index:4;
        background-color: var(--explosie-color-1);
    }

    li:nth-of-type(6) { 
        --index:5;
        background-color: var(--explosie-color-2);
    }

    


        /* chaining kan alleen als ik hetzelfde element wil animeren, dus niet voor 2 verschillende elementen (div & ul) */

        
        

.box {
    position: absolute;
    right: 10%;
    bottom: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    transform-origin:center; /* rotate from the center */
    opacity: 0;
    background: linear-gradient(#00ccff, #ff00cc, #00cc55, #f48e21);
    background-size: 300% 300%;
}


    
@keyframes rotation {
    0% {
        transform: rotate(0deg); /* start from 0 degree */
        background-position: 0 50%;
        opacity: 0;
    }
    50% {
        transform: rotate(360deg); /* end at 360 degree which the same as 0 degree to create the continuous loop*/
        background-position: 50% 100%;
        opacity: 1;
    }
    100% {
        transform: rotate(0deg); /* end at 360 degree which the same as 0 degree to create the continuous loop*/
        background-position: 0% 50%;
        opacity: 0;
    }
}



.wavy:nth-child(2) {
    position: absolute;
    width: 10px;
    height: 70px;
    bottom: 0;
    left: 85vw;
    opacity: 0;
    z-index: -1;
}

.wavy::before:nth-child(2) {
    content: 'aaaaaaaaa';
    font-size: 2em;
    color: transparent;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-vuurpijl);
    text-decoration-line: underline;
}


@keyframes vuurpijl {
    0% {
        /* transform: rotate(-90deg); */
        transform: translate(0,0%) rotate(-90deg);
        opacity: 0;
    }
    50% {
        /* transform: rotate(-90deg); */
        transform: translate(0,25%) rotate(-90deg);
        opacity: 1;
    }
    100% {
        /* transform: rotate(-90deg); */
        transform: translate(0,-50vh) rotate(-90deg);
        opacity: 0;
    }
} 

body:has(:checked) .wavy:nth-child(2) {
        animation-play-state:vuurpijl;
    /* 	dit geeft de rotate animatie aan */
        animation:vuurpijl;
    /* 	tijd van de druratie */
        animation-duration:2000ms;
    /* 	de animatie is overal dezelfde snelheid */
        animation-timing-function: fade-inout;
    /*  dit laat de animatie starten na 700ms */
        animation-delay:0s;
}



body:has(:checked) .box {
    /* animation: gradient 4s linear; */
    animation:rotation 4s ease-in-out; /* run the rotation for 10s and iterate again */
    animation-delay: 1.2s;
}